<div class="container pt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark text-white">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-9 col-12">
            <div class="product-detail border radius">
                <div class="row">
                    <!-- product image and share buttons -->
                    <div class="col-md-5 col-12">
                        <div class="product-detail-gallery">
                            <div class="product-detail-gallery-image">
                                <img class="img-fluid mx-auto" [src]="imageUrls[current]?.image" alt="">
                            </div>
                            <div class="product-detail-gallery-control" *ngIf="imageUrls.length > 0">
                                <ng-image-slider #nav [images]="imageUrls" [infinite]="false" [autoSlide]="1"
                                    [imagePopup]="false" [imageSize]="{width: '25%', height: 80}"
                                    (imageClick)="onThumbImageClick($event)" slideImage="1"></ng-image-slider>
                            </div>
                        </div>
                        <div class="product-detail-social">
                            <ul class="list-social-detail list-inline-block">
                                <li><a class="soci-fa soc-tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                                </li>
                                <li><a class="soci-fa soc-facebook"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li><a class="soci-fa soc-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a class="soci-fa soc-print"><i class="fa fa-print" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-7 col-12">
                        <div class="product-detail-info">
                            <h2 class="product-detail-info-title">{{product?.name}}</h2>

                            <div class="product-detail-rate">
                                <div class="product-detail-rating" [style.width.%]="product?.rating"></div>
                            </div>

                            <p class="desc">{{product?.description}}</p>

                            <div class="product-detail-price">
                                <ins><span>৳ {{product?.price}}</span></ins>
                            </div>

                            <!-- Stocked shop list -->
                            <div class="row">
                                <div *ngFor="let ps of stocks" class="col-auto p-0 mx-1 shadow shop-box"
                                    [class.active]="ps.shop._id==stock.shop._id" (click)="onSelectShop(ps.shop._id)">
                                    <img class="shop-box-image" [src]="shopImageUrl + ps.shop._id"
                                        [alt]="ps.shop.name + ' image'" />
                                    <span class="shop-box-name">{{ps.shop.name}}</span>
                                </div>
                            </div>

                            <div class="product-detail-available">
                                <strong>Availability: </strong>
                                <span class="in-stock">{{stock ? 'In Stock':'Out of Stock'}}</span>
                            </div>

                            <a class="mail-to-friend" href="#">Email to a Friend</a>
                            <div class="product-detail-size">
                                <div class="product-detail-size-title">
                                    <strong><sup>*</sup>Size:</strong><span class="current-size">{{stock?.size}}</span>
                                </div>
                                <!-- <span *ngFor="let sz of stock?.size_array" class="col-auto p-1 mx-1 size-box"
                                    [class.active]="sz.size==selected?.size_array[0]?.size"
                                    (click)="onSelectShop(ps.shop._id)">
                                    <span class="shop-box-name">{{sz.size}}</span>
                                </span> -->
                                <!-- <ul class="product-detail-size-filter">
                                    <li *ngFor="let stock of product?.stock;index as i"
                                        [class.active]="stock.size===productSize.size"><a
                                            (click)="setSize(stock)">{{stock.size}}</a></li>
                                </ul> -->
                            </div>

                            {{stock | json}}
                            <hr> {{selected | json}}


                            <div class="product-detail-color">
                                <div class="product-detail-color-title">
                                    <strong><sup>*</sup>color:</strong><span
                                        class="product-detail-current-color">{{selected?.color}}</span>
                                </div>
                                <ul class="product-detail-filter color-filter">
                                    <li *ngFor="let pcolor of stock?.color_stock"
                                        [class.active]="selected?.color === pcolor.color">
                                        <a (click)="setColor(pcolor)" *ngIf="pcolor.quantity > 0">
                                            <span [ngStyle]="{'background-color': pcolor.color}">
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-detail-extralink">
                                <div class="detail-qty border radius">
                                    <a (click)="setQuantity(-1)" class="qty-down"><i class="fa fa-caret-down"
                                            aria-hidden="true"></i></a>
                                    <span class="qty-val">{{quantity}}</span>
                                    <a (click)="setQuantity(1)" class="qty-up"><i class="fa fa-caret-up"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div class="product-extra-link2">
                                    <a class="addcart-link" (click)="addToCart()">Add to Cart</a>
                                    <a class="wishlist-link" (click)="addToFavourite()"><i aria-hidden="true"
                                            class="fa fa-heart"></i></a>
                                    <a class="compare-link" (click)="onRefresh()"><i aria-hidden="true"
                                            class="fa fa-refresh"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-detail-tab-detal">
                    <div *ngFor="let item of productDetails?.items">
                        <details-collapse [item]='item'></details-collapse>
                    </div>
                </div>
            </div>
            <product-related></product-related>
        </div>
        <div class="col-md-3 col-12">
            <side-adv></side-adv>
            <best-sellers></best-sellers>
        </div>
    </div>
</div>