<div class="container pt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark text-white">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-9 col-12">
            <div class="product-detail border radius">
                <div class="row">
                    <div class="col-md-5 col-12">
                        <div class="product-detail-gallery">
                            <div class="product-detail-gallery-image">
                                <img [src]="product.image_urls[current].image" class="img-fluid mx-auto" alt="img1">
                            </div>
                            <div class="product-detail-gallery-control">
                                <ng-image-slider #nav [images]="product.image_urls" [infinite]="false" [autoSlide]="1"
                                    [imagePopup]="false" [imageSize]="{width: '25%', height: 80}"
                                    (imageClick)="onThumbImageClick($event)" slideImage="1"></ng-image-slider>
                            </div>
                        </div>
                        <div class="product-detail-social">
                            <ul class="list-social-detail list-inline-block">
                                <li><a class="soci-fa soc-tumblr"><i class="fa fa-tumblr"
                                            aria-hidden="true"></i></a></li>
                                <li><a class="soci-fa soc-facebook"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a></li>
                                <li><a class="soci-fa soc-twitter"><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a></li>
                                <li><a class="soci-fa soc-print"><i class="fa fa-print"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-12">
                        <div class="product-detail-info">
                            <h2 class="product-detail-info-title">{{product.name}}</h2>

                            <div class="product-detail-rate">
                                <div class="product-detail-rating" [style.width.%]="product.rating"></div>
                            </div>

                            <p class="desc">{{product.details}}</p>

                            <div class="product-detail-price">
                                <ins><span>৳ {{product.price}}</span></ins>
                            </div>
                            <div class="product-detail-available">
                                <strong>Availability: </strong>
                                <span class="in-stock">{{product.inStock ? 'In Stock':'Out of Stock'}}</span>
                            </div>

                            <a class="mail-to-friend" href="#">Email to a Friend</a>
                            <div class="product-detail-size">
                                <div class="product-detail-size-title">
                                    <strong><sup>*</sup>Size:</strong><span
                                        class="current-size">{{productSize?.size}}</span>
                                </div>
                                <ul class="product-detail-size-filter">
                                    <li *ngFor="let stock of product.stock;index as i"
                                        [class.active]="stock.size===productSize.size"><a
                                            (click)="setSize(stock)">{{stock.size}}</a></li>
                                </ul>
                            </div>

                            <div class="product-detail-color">
                                <div class="product-detail-color-title">
                                    <strong><sup>*</sup>color:</strong><span
                                        class="product-detail-current-color">{{productColor?.color}}</span>
                                </div>
                                <ul class="product-detail-filter color-filter">
                                    <li *ngFor="let pcolor of productSize.color_stock"
                                        [class.active]="productColor?.color === pcolor.color">
                                        <a (click)="setColor(pcolor)" *ngIf="pcolor.quantity > 0">
                                            <span [ngStyle]="{'background-color': pcolor.color}">
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-detail-extralink">
                                <div class="detail-qty border radius">
                                    <a (click)="setQuantity(-1)" class="qty-down"><i class="fa fa-caret-down"
                                            aria-hidden="true"></i></a>
                                    <span class="qty-val">{{quantity}}</span>
                                    <a (click)="setQuantity(1)" class="qty-up"><i class="fa fa-caret-up"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div class="product-extra-link2">
                                    <a class="addcart-link" (click)="addToCart()">Add to Cart</a>
                                    <a class="wishlist-link" (click)="addToFavourite()"><i aria-hidden="true"
                                            class="fa fa-heart"></i></a>
                                    <a class="compare-link" (click)="onRefresh()"><i aria-hidden="true"
                                            class="fa fa-refresh"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-detail-tab-detal">
                    <details-collapse [item]='product.description'></details-collapse>
                    <details-collapse [item]='product.tags'></details-collapse>
                    <details-collapse [item]='product.reviews'></details-collapse>
                    <details-collapse [item]='product.sizing_guide'></details-collapse>
                    <details-collapse [item]='product.custom_tab'></details-collapse>
                </div>
            </div>
            <product-related></product-related>
        </div>
        <div class="col-md-3 col-12">
            <side-adv></side-adv>
            <best-sellers></best-sellers>
        </div>
    </div>
</div>