<div class="container my-4">
    <div class="product-tab-ajax">
        <div class="tab-pro-ajax-header">
            <h2>new arrivals</h2>
            <ul>
                <li class="active"><a href="#tab5" data-toggle="tab">Fashion</a></li>
                <li><a href="#tab6" data-toggle="tab">Electronics </a></li>
                <li><a href="#tab7" data-toggle="tab">Homeware</a></li>
                <li><a href="#tab8" data-toggle="tab">Sport</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="tab5" class="tab-pane active">
                <div class="clearfix">
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/fashion/6.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/fashion/7.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/fashion/8.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/fashion/9.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/fashion/10.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-loadmore"><a href="#"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a></div>
            </div>
            <!-- End Tab -->
            <div id="tab6" class="tab-pane">
                <div class="clearfix">
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/electronics/6.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/electronics/7.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/electronics/8.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/electronics/9.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/electronics/10.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-loadmore"><a href="#"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a></div>
            </div>
            <!-- End Tab -->
            <div id="tab7" class="tab-pane">
                <div class="clearfix">
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/homeware/6.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/homeware/7.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/homeware/8.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/homeware/9.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/homeware/10.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-loadmore"><a href="#"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a></div>
            </div>
            <!-- End Tab -->
            <div id="tab8" class="tab-pane">
                <div class="clearfix">
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/sport/6.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/sport/7.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/sport/8.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/sport/9.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                    <div class="item-product-ajax item-product">
                        <div class="product-thumb">
                            <a href="detail.html" class="product-thumb-link">
                                <img src="assets/dummy/photos/sport/10.jpg" alt="">
                            </a>
                            <a href="quick-view.html" class="quickview-link plus fancybox.iframe">quick view</a>
                            <div class="product-extra-link">
                                <a href="#" class="addcart-link"><i class="fa fa-shopping-basket"
                                        aria-hidden="true"></i></a>
                                <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="compare-link"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                            <div class="product-price">
                                <del><span>$400.00</span></del>
                                <ins><span>$360.00</span></ins>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-loadmore"><a href="#"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a></div>
            </div>
            <!-- End Tab -->
        </div>
    </div>
</div>