.widget {
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff none repeat scroll 0 0;
  &-title {
    cursor: pointer;
    position: relative;
    padding: 17px 20px;
    background: #fafafa none repeat scroll 0 0;
    &::after {
      content: "\f0d8";
      display: block;
      position: absolute;
      height: 24px;
      right: 20px;
      top: 13px;
      width: 24px;
      line-height: 22px;
      text-align: center;
      font-family: fontawesome;
      background: none 0px 0px repeat scroll rgb(255, 255, 255);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(229, 229, 229);
      border-image: initial;
      border-radius: 4px;
      transition: all 0.5s ease-out 0s;
    }
    &.active::after {
      content: "\f0d7";
    }
  }
  &-content {
    border-top: 1px solid #e5e5e5;
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 500ms max-height;
    & > ul {
      list-style: outside none none;
      margin: 0;
      padding: 15px;
      & li {
        padding: 5px;        
        line-height: 19px;
        &:hover {
          color: #f40;
          background-color: #f0f0f0;
        }
      }
    }
    &.opened {
      max-height: 100vh;
      transition: ease-in-out 1000ms max-height;
    }
    &-category {
      cursor: pointer;
      display: block;
      width: 100%;
      position: relative;
      padding-right: 20px;
      &.has-sub-cat {
        &.opened::after {
          content: "\f068";
        }
        &::after {
          position: absolute;
          font-size: 10px;
          font-family: fontawesome;
          content: "\f067";
          right: 0;
          top: 2px;
          width: 16px;
          height: 16px;
          text-align: center;
          line-height: 16px;
          color: #fff;
          background-color: #f40;
          border-radius: 4px;
        }
      }
    }
    &-sub-category {
      max-height: 0px;
      overflow-y: hidden;
      list-style: outside none none;
      margin: 0;
      padding-left: 10px;
      transition: ease-in-out 500ms max-height;
      &.opened {
        max-height: 100vh;
        padding: 10px;
        transition: ease-in-out 1000ms max-height;
      }
      &-list {
        cursor: pointer;
        display: block;
        width: 100%;
        color: #666;
        &:hover{
          background-color: #e0e0e0;
        }
      }
    }
  }
}

.widget-product-cat ul li.has-sub-cat > a {
  position: relative;
  padding-right: 20px;
}
