.item-pro-color:hover {
  z-index: 9;
}
.item-pro-color {
  background: #fff none repeat scroll 0 0;
  position: relative;
  text-align: center;
  margin: 0 -5px 20px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.item-pro-color .product-info,
.item-pro-color .product-thumb {
  z-index: 1;
}
.item-pro-color .product-info,
.item-pro-color .product-thumb {
  z-index: 1;
}
.product-thumb {
  overflow: hidden;
  position: relative;
}
.product-thumb-link {
  display: block;
  overflow: hidden;
  position: relative;
}
.product-thumb:hover .product-thumb-link::before {
  opacity: 1;
}

.product-thumb-link::before {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.item-pro-color .product-thumb-link img.active {
  opacity: 1;
  position: static;
  visibility: visible;
}
.item-pro-color .product-thumb-link img {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.product-thumb-link > img {
  width: 100%;
}
.quickview-link.plus {
  color: #fff;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  text-transform: uppercase;
  top: 30px;
  z-index: 9;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.product-thumb .quickview-link.plus {
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  opacity: 0;
}
.product-thumb:hover .quickview-link.plus {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
.product-thumb .quickview-link.plus::before {
  content: "+";
  left: 50%;
  position: absolute;
  top: -16px;
}
.item-pro-color .product-info,
.item-pro-color .product-thumb {
  z-index: 1;
}
.item-pro-color .product-info {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.list-color {
  margin: 5px 0 10px;
}
.list-color > a {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  cursor: pointer;
}
.product-title {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}
.product-title a,
.list-cat-icon > li > a {
  color: #333;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.item-pro-color .product-price {
  margin-bottom: 13px;
}
.product-price {
  margin: 0 -5px;
}
.product-price ins {
  font-size: 18px;
  font-weight: 700;
  margin: 0 5px;
  text-decoration: none;
}
.product-price ins,
.quickview-link.plus:hover {
  color: #f40;
}
.product-price > del {
  color: #999;
  padding: 0 5px;
  position: relative;
  text-decoration: none;
}
.product-price > del::after {
  background: #999 none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}
.item-pro-color:hover .product-info .product-extra-link {
  opacity: 1;
  visibility: visible;
}
.item-pro-color .product-info .product-extra-link {
  background: #fff none repeat scroll 0 0;
  left: 0;
  margin-top: 1px;
  padding: 20px 15px 15px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.product-extra-link a {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: top;
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  border-radius: 4px;
}
.product-extra-link a {
  color: #f40;
}
.item-pro-color:hover .product-info .product-extra-link a {
  opacity: 1;
  transform: scale(1) rotate(0);
  -webkit-transform: scale(1) rotate(0);
}
.item-pro-color .product-info .product-extra-link a {
  opacity: 0;
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
}
.product-extra-link a {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: top;
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  border-radius: 4px;
}
.product-extra-link a {
  color: #f40;
}

.item-pro-color .product-extra-link a span {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  border-radius: 4px;
  bottom: 100%;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 20px;
  left: -20px;
  line-height: 20px;
  margin-bottom: 5px;
  position: absolute;
  width: 80px;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.item-pro-color .product-extra-link a span::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.6);
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  width: 0;
}
.item-pro-color:hover .product-info .product-extra-link a {
  opacity: 1;
  transform: scale(1) rotate(0);
  -webkit-transform: scale(1) rotate(0);
}
.item-pro-color .product-info .product-extra-link a {
  opacity: 0;
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
}
.product-extra-link a {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: top;
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  border-radius: 4px;
}
.product-extra-link a {
  color: #f40;
}
.item-pro-color .product-extra-link a span {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  border-radius: 4px;
  bottom: 100%;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 20px;
  left: -20px;
  line-height: 20px;
  margin-bottom: 5px;
  position: absolute;
  width: 80px;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.item-pro-color .product-extra-link a span::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.6);
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  width: 0;
}
.item-pro-color:hover::after {
  opacity: 1;
  visibility: visible;
}
.item-pro-color::after {
  background: #fff none repeat scroll 0 0;
  border-color: #e5e5e5;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px 1px 0;
  bottom: -75px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  content: "";
  left: -10px;
  opacity: 0;
  position: absolute;
  right: -10px;
  top: -10px;
  visibility: hidden;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-extra-link a:hover {
  background: #f40;
  color: #fff;
}
.product-title a:hover {
  color: #f40;
}
.product-label {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.product-label span.new-label {
  background: #9c9c9c none repeat scroll 0 0;
}
.product-label span {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  text-transform: uppercase;
}
.product-label span.sale-label {
  background: #cdd9f1 none repeat scroll 0 0;
}
