<div class="container mt-4">
    <div class="row">
        <div class="col-md-9 col-12">Left</div>
        <div class="col-md-3 col-12">
            <div class="right_banner">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="item-adv">
                            <div class="adv-thumb">
                                <a href="#"><img src="assets/dummy/photos/home4/ad-01.jpg" alt=""></a>
                            </div>
                            <div class="adv-info">
                                <h2>men’s <br>Style</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="item-adv">
                            <div class="adv-thumb">
                                <a href="#"><img src="assets/dummy/photos/home4/ad-02.jpg" alt=""></a>
                            </div>
                            <div class="adv-info">
                                <h2>hear every <br>note</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>