<div class="container-fluid component-head">
  <h3>Brands</h3>
</div>
<div class="container-fluid">
  <loading *ngIf="loading"></loading>
  <div class="alert alert-success alert-dismissible show" role="alert" *ngIf="message.length > 0">
    <strong>Success! </strong> {{ message }}
    <button type="button" class="close" (click)="onClose()"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="alert alert-danger alert-dismissible show" role="alert" *ngIf="errorMessage.length > 0">
    <strong>Failed! </strong> {{ errorMessage }}
    <button type="button" class="close" (click)="onClose()"> <span aria-hidden="true">&times;</span> </button>
  </div>

  <div class="row" *ngIf="!loading">
    <div class="col-12" *ngIf="!showBrandForm">
      <nav class="navbar navbar-light bg-light border">
        <a class="navbar-brand">Brand List</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2 py-1" type="search" placeholder="Search Brands" aria-label="Search"
            (keyup)="onSearch($event.target.value)">
          <button type="button" class="btn btn-success btn-sm" (click)="onShowBrandForm()">
            + ADD BRAND
          </button>
        </form>
      </nav>
      <brand-list [brands]="brands" [imageUrl]="imageUrl" (edit)="onEdit($event)" (delete)="onDelete($event)">
      </brand-list>
      <pagination *ngIf="brandPage" [page]="brandPage" (paginate)="onChangePage($event)"></pagination>
    </div>

    <div class="col-12" *ngIf="showBrandForm">
      <brand-form [brand]="brand" (create)="onCreate($event)" (update)="onUpdate($event)"
        (cancel)="onBrandFormCancel()"></brand-form>
    </div>
  </div>
</div>