<div class="container mt-4">
    <div class="row">
        <div class="col-md-9 col-12 pr-md-0">
            <app-carousel></app-carousel>

            <div class="cat-icon4">
                <div class="wrap-cat-icon">
                    <ul class="list-cat-icon">
                        <li *ngFor="let cat of sideNav.category"><a [routerLink]="'/category/'+cat.slug"><img
                                    class="category-image"
                                    [src]="'assets/images/icons/'+cat.slug+'.svg'" /><span>{{ cat.name }}</span></a>
                        </li>

                        <!-- <li class="has-cat-mega">
                            <a href="#"><img src="assets/images/cat-icon/cat1.png" alt=""><span>Mobiles &amp;
                                    Tablets</span></a>
                            <div class="cat-mega-menu cat-mega-style1">
                                <div class="row">
                                    <div class="col-md-4 col-sm-3">
                                        <div class="list-cat-mega-menu">
                                            <h2 class="title-cat-mega-menu">Women’s</h2>
                                            <ul>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                <li><a href="#">Intimates</a></li>
                                                <li><a href="#">Swimwear</a></li>
                                                <li><a href="#">Pants &amp; Capris</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3">
                                        <div class="list-cat-mega-menu">
                                            <h2 class="title-cat-mega-menu">Men’s</h2>
                                            <ul>
                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                <li><a href="#">Underwear</a></li>
                                                <li><a href="#">Shirts</a></li>
                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Suits &amp; Blazer</a></li>
                                                <li><a href="#">Shorts</a></li>
                                                <li><a href="#">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3">
                                        <div class="banner-image">
                                            <a href="#"><img src="assets/dummy/home1/cat-mega-thumb.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="has-cat-mega">
                            <a href="#"><img src="assets/images/cat-icon/cat2.png" alt=""><span>Computers</span></a>
                            <div class="cat-mega-menu cat-mega-style2">
                                <h2 class="title-cat-mega-menu">Special products</h2>
                                <div class="row">
                                    <div class="col-md-4 col-sm-3">
                                        <div class="item-product-ajax item-product first-item">
                                            <div class="product-thumb">
                                                <a class="product-thumb-link" href="detail.html">
                                                    <img alt="" src="assets/dummy/photos/fashion/10.jpg">
                                                </a>
                                                <a class="quickview-link plus fancybox.iframe"
                                                    href="quick-view.html">quick view</a>
                                                <div class="product-extra-link">
                                                    <a class="addcart-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-shopping-basket"></i></a>
                                                    <a class="wishlist-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-heart"></i></a>
                                                    <a class="compare-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-refresh"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <del><span>$400.00</span></del>
                                                    <ins><span>$360.00</span></ins>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3">
                                        <div class="item-product-ajax item-product">
                                            <div class="product-thumb">
                                                <a class="product-thumb-link" href="detail.html">
                                                    <img alt="" src="assets/dummy/photos/fashion/3.jpg">
                                                </a>
                                                <a class="quickview-link plus fancybox.iframe"
                                                    href="quick-view.html">quick view</a>
                                                <div class="product-extra-link">
                                                    <a class="addcart-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-shopping-basket"></i></a>
                                                    <a class="wishlist-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-heart"></i></a>
                                                    <a class="compare-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-refresh"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <del><span>$400.00</span></del>
                                                    <ins><span>$360.00</span></ins>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3">
                                        <div class="item-product-ajax item-product">
                                            <div class="product-thumb">
                                                <a class="product-thumb-link" href="detail.html">
                                                    <img alt="" src="assets/dummy/photos/fashion/4.jpg">
                                                </a>
                                                <a class="quickview-link plus fancybox.iframe"
                                                    href="quick-view.html">quick view</a>
                                                <div class="product-extra-link">
                                                    <a class="addcart-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-shopping-basket"></i></a>
                                                    <a class="wishlist-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-heart"></i></a>
                                                    <a class="compare-link" href="#"><i aria-hidden="true"
                                                            class="fa fa-refresh"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                                <div class="product-price">
                                                    <del><span>$400.00</span></del>
                                                    <ins><span>$360.00</span></ins>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> -->
                        <!-- <li><a routerLink="/category/Electronics"><img src="assets/images/cat-icon/cat3.png" alt=""><span>Electronics</span></a></li>
                        <li><a routerLink="/category/Fashion"><img src="assets/images/cat-icon/cat4.png" alt=""><span>Fashion</span></a></li>
                        <li><a routerLink="/category/Footwear"><img src="assets/images/cat-icon/cat5.png" alt=""><span>Footwear</span></a></li>
                        <li><a routerLink="/category/Jewelry"><img src="assets/images/cat-icon/cat6.png" alt=""><span>Jewelry &amp;
                                    Watches</span></a></li>
                        <li><a href="#"><img src="assets/images/cat-icon/cat7.png" alt=""><span>Home &amp; Kitchen</span></a>
                        </li>
                        <li><a href="#"><img src="assets/images/cat-icon/cat8.png" alt=""><span>Home Appliances</span></a></li>
                        <li><a href="#"><img src="assets/images/cat-icon/cat9.png" alt=""><span>Beauty &amp;
                                    Perfumes</span></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 p-0">
            <div style="margin-left: 57px;">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="item-adv">
                            <div class="adv-thumb">
                                <a href="#"><img src="assets/images/banners/side_honey.jpg" alt=""></a>
                            </div>
                            <div class="adv-info">
                                <h2>Organic <br>Honey</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-6">
                        <div class="item-adv">
                            <div class="adv-thumb">
                                <a href="#"><img src="assets/images/banners/side_rice.jpg" alt=""></a>
                            </div>
                            <div class="adv-info">
                                <h2>Binni rice<br>natural</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>