<div class="product-related border">
    <h2 class="product-related-title">ALSO PURCHASED</h2>
    <!-- <div class="product-related-slider">
        <div class="wrap-item owl-carousel owl-theme" data-itemscustom="[[0,1],[480,2],[1024,3],[1200,4]]"
            data-pagination="false" data-navigation="true" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 2616px; left: 0px; display: block;">
                    <div class="owl-item active" style="width: 218px;">
                        <div class="item-pro-color">
                            <div class="product-thumb">
                                <a href="detail.html" class="product-thumb-link">
                                    <img data-color="black" class="active" src="images/photos/fashion/2.jpg" alt="">
                                    <img data-color="purple" src="images/photos/fashion/1.jpg" alt="">
                                    <img data-color="blue" src="images/photos/fashion/3.jpg" alt="">
                                    <img data-color="cyan" src="images/photos/fashion/4.jpg" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link plus fancybox.iframe"><span>quick
                                        view</span></a>
                            </div>
                            <div class="product-info">
                                <div class="list-color">
                                    <a href="#" data-color="black" style="background:#404040"></a>
                                    <a href="#" data-color="purple" style="background:#ff8ff8"></a>
                                    <a href="#" data-color="blue" style="background:#868fff"></a>
                                    <a href="#" data-color="cyan" style="background:#80e6ff"></a>
                                </div>
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 218px;">
                        <div class="item-pro-color">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span class="new-label">new</span>
                                    <span class="sale-label">sale</span>
                                </div>
                                <a href="detail.html" class="product-thumb-link">
                                    <img data-color="yellow" class="active" src="images/photos/fashion/9.jpg" alt="">
                                    <img data-color="red" src="images/photos/fashion/10.jpg" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link plus fancybox.iframe"><span>quick
                                        view</span></a>
                            </div>
                            <div class="product-info">
                                <div class="list-color">
                                    <a href="#" data-color="yellow" style="background:#ffdb33"></a>
                                    <a href="#" data-color="red" style="background:#ff596d"></a>
                                </div>
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 218px;">
                        <div class="item-pro-color">
                            <div class="product-thumb">
                                <a href="detail.html" class="product-thumb-link">
                                    <img data-color="purple" class="active" src="images/photos/fashion/8.jpg" alt="">
                                    <img data-color="blue" src="images/photos/fashion/7.jpg" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link plus fancybox.iframe"><span>quick
                                        view</span></a>
                            </div>
                            <div class="product-info">
                                <div class="list-color">
                                    <a href="#" data-color="purple" style="background:#ff8ff8"></a>
                                    <a href="#" data-color="blue" style="background:#868fff"></a>
                                </div>
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 218px;">
                        <div class="item-pro-color">
                            <div class="product-thumb">
                                <a href="detail.html" class="product-thumb-link">
                                    <img data-color="black" class="active" src="images/photos/fashion/10.jpg" alt="">
                                    <img data-color="green" src="images/photos/fashion/9.jpg" alt="">
                                    <img data-color="blue" src="images/photos/fashion/8.jpg" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link plus fancybox.iframe"><span>quick
                                        view</span></a>
                            </div>
                            <div class="product-info">
                                <div class="list-color">
                                    <a href="#" data-color="black" style="background:#404040"></a>
                                    <a href="#" data-color="green" style="background:#c3f1c7"></a>
                                    <a href="#" data-color="blue" style="background:#868fff"></a>
                                </div>
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 218px;">
                        <div class="item-pro-color">
                            <div class="product-thumb">
                                <a href="detail.html" class="product-thumb-link">
                                    <img data-color="purple" class="active" src="images/photos/fashion/12.jpg" alt="">
                                    <img data-color="blue" src="images/photos/fashion/7.jpg" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link plus fancybox.iframe"><span>quick
                                        view</span></a>
                            </div>
                            <div class="product-info">
                                <div class="list-color">
                                    <a href="#" data-color="purple" style="background:#ff8ff8"></a>
                                    <a href="#" data-color="blue" style="background:#868fff"></a>
                                </div>
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 218px;">
                        <div class="item-pro-color">
                            <div class="product-thumb">
                                <a href="detail.html" class="product-thumb-link">
                                    <img data-color="black" class="active" src="images/photos/fashion/13.jpg" alt="">
                                    <img data-color="green" src="images/photos/fashion/9.jpg" alt="">
                                    <img data-color="blue" src="images/photos/fashion/8.jpg" alt="">
                                </a>
                                <a href="quick-view.html" class="quickview-link plus fancybox.iframe"><span>quick
                                        view</span></a>
                            </div>
                            <div class="product-info">
                                <div class="list-color">
                                    <a href="#" data-color="black" style="background:#404040"></a>
                                    <a href="#" data-color="green" style="background:#c3f1c7"></a>
                                    <a href="#" data-color="blue" style="background:#868fff"></a>
                                </div>
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="owl-controls clickable" style="display: block;">
                <div class="owl-buttons">
                    <div class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div> -->
</div>