.product-related {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  &-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 17px;
    text-transform: uppercase;
  }
}

.owl-nav {
  position: absolute;
  right: 8px;
  top: -29px;
  width: 61px;
}
