<div class="container">
    <div class="row">
        <div class="col-md-8 my-3 d-none d-sm-block">
            <img class="img-fluid" src="assets/dummy/home4/slide2.jpg" alt="">
        </div>
        <div class="col-md-4 col-12 my-3">
            <div class="register-form">
                <h2 class="register-form-title">Create Account</h2>

                <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length > 0">
                    {{errorMessage}}
                </div>

                <div class="alert alert-primary" role="alert" *ngIf="regSuccess">
                    <i class="fa fa-thumbs-o-up"></i> Registration success. Now you can login using your credentials. <a routerLink="/login"
                        class="btn btn-sm btn-primary">Login</a>
                </div>

                <loading *ngIf="loading"></loading>

                <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()" class="p-3 border rounded">

                    <div class="form-group">
                        <!-- <label for="name">name</label> -->
                        <input type="text" class="form-control" id="name" formControlName="name" autocomplete="no"
                            placeholder="Name">
                        <small class="text-danger" *ngIf="form.controls.name.errors && form.controls.name.touched"> Name
                            required </small>
                    </div>

                    <div class="form-group">
                        <!-- <label for="email">Email</label> -->
                        <input type="email" class="form-control" id="email" formControlName="email" autocomplete="no"
                            placeholder="Email">
                        <small class="text-danger" *ngIf=" form.controls.email.errors && form.controls.email.touched">
                            <div [hidden]="!form.controls['email'].errors.required"> Email required </div>
                            <div [hidden]="!form.controls['email'].errors.email"> Invalid email F</div>
                        </small>
                    </div>

                    <div class="form-group">
                        <!-- <label for="phone">Phone number</label> -->
                        <input type="text" class="form-control" id="phone" formControlName="phone" autocomplete="no"
                            placeholder="Phone number" maxlength="11">
                        <small class="text-danger" *ngIf=" form.controls.phone.errors && form.controls.phone.touched ">
                            <div [hidden]="!form.controls['phone'].errors.required"> Phone number required </div>
                            <div [hidden]="!form.controls['phone'].errors.pattern"> Phone number format 01934953023
                            </div>
                        </small>
                    </div>

                    <div class="form-group">
                        <!-- <label for="password">Password</label> -->
                        <div class="input-group mb-1 mb-sm-0">
                            <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control"
                                placeholder="Password" formControlName="password">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    (click)="showPassword = !showPassword">
                                    <i class="fa fa-eye" [ngClass]="showPassword?'fa-eye-slash':'fa-eye'"></i>
                                </button>
                            </div>
                        </div>
                        <small class="text-danger"
                            *ngIf="form.controls.password.errors && form.controls.password.touched">
                            <div [hidden]="!form.controls['password'].errors.required">
                                Password required
                            </div>
                            <div [hidden]="!form.controls['password'].errors.minlength">
                                Minimum passwor length required 6
                            </div>
                        </small>
                    </div>
                    <small>
                        By creating an account, you agree to our <a routerLink="/terms"> terms & conditions</a>.
                    </small>
                    <div class="d-flex justify-content-end">

                        <button type="submit" class="btn btn-primary" [class.disabled]="form.invalid">Create</button>
                    </div>

                    <div>
                        <small>
                            Already have an account? <a routerLink="/login">Login</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>