.product {
  padding: 2px;
  margin-bottom: 3px;
  border: 1px solid gainsboro;
  &-image {
    height: 50px;
  }
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
  img {
    width: 100%;
    max-height: 200px;
  }
}
