<div class="top-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="account-login">
                    <a routerLink="/dashboard">My Account</a>
                    <a routerLink="/login">Login</a>
                    <a routerLink="/register">Register</a>
                </div>
            </div>
            <div class="col-md-6 col-12 flex-right d-none d-sm-block">
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="dropdown">
                        <button class="dropbtn mx-2"><i class="fa fa-map-marker"></i></button>
                        <div class="dropdown-content  right-s" style="width: 300px;">
                            <a href="#">
                                Address 1: 8901 Marmora Road, Glasgow, D04 89GR.
                            </a>
                            <a href="#">
                                Address 2: 8901 Marmora Road, Glasgow, D04 89GR.
                            </a>
                        </div>
                    </div>
                    <div class="dropdown border-right">
                        <button class="dropbtn"><span>৳</span> BDT </button>
                        <div class="dropdown-content right-s">
                            <a href="#"><span>৳</span>BDT</a>
                            <a href="#"><span>$</span>USD</a>
                        </div>
                    </div>
                    <div class="dropdown border-right">
                        <button class="dropbtn"><img src="assets/images/flag/flag.png" /><span>English</span></button>
                        <div class="dropdown-content">
                            <a href="#"><img src="assets/images/flag/flag-en.png" /><span>English</span></a>
                            <a href="#"><img src="assets/images/flag/flag-bd.png" /><span>Bangla</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>