<div class="container pt-4">
    <!-- <div class="banner-shop">
        <div class="banner-shop-thumb">
            <a href="#"><img src="assets/dummy/shop/bn-list.jpg" alt=""></a>
        </div>
        <div class="banner-shop-info text-center">
            <h2>{{category}} style 2016</h2>
            <p>Apple, Samsung, LG</p>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark text-white">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav> -->

    <div class="row">

        <div class="col-md-3 col-12">
            <side-nav-collapse [data]="sideNavData" (resp)="onSideNavClick($event)"></side-nav-collapse>

            <price-filter (resp)="onPriceFilter($event)"></price-filter>

            <best-sellers></best-sellers>

            <brands></brands>
        </div>

        <div class="col-md-9 col-12">
            <div class="products pb-3 mb-3">
                <div class="products-bar clearfix">
                    <div class="sort-paginav pull-right">
                        <div class="select-box sort-bar">
                            <label>Sort By:</label>
                            <select>
                                <option value="">position</option>
                                <option value="">price</option>
                            </select>
                        </div>
                        <div class="select-box">
                            <label>Show:</label>
                            <select>
                                <option value="">20</option>
                                <option value="">12</option>
                                <option value="">24</option>
                            </select>
                        </div>
                        <div class="pagi-bar">
                            <a href="#" class="current-page">1</a>
                            <a href="#">2</a>
                            <a href="#" class="next-page"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="row clearfix m-0 mb-2">
                    <div class="col-md-3 col-6" *ngFor="let product of products">
                        <product1 [product]="product"></product1>
                    </div>
                </div>

                <div class="pagi-bar bottom">
                    <a class="current-page" href="#">1</a>
                    <a href="#">2</a>
                    <a class="next-page" href="#"><i aria-hidden="true" class="fa fa-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>