:host {
  display: block;
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}

.banner-shop {
  padding: 20px 0;
  overflow: hidden;
  position: relative;
}
.banner-shop-thumb a {
  display: block;
  position: relative;
  overflow: hidden;
}

.banner-shop-thumb a img {
  width: 100%;
  max-height: 400px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.banner-shop:hover a img {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
.banner-shop-thumb a::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.banner-shop-info {
  color: #fff;
  left: 0;
  margin-top: -35px;
  padding: 0 60px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.banner-shop-info > h2 {
  font-weight: 700;
  margin: 0 0 6px;
}
.banner-shop-info > p {
  font-size: 18px;
  margin: 0;
}

.breadcrumb-item a {
  color: white;
}
.breadcrumb-item a:hover {
  color: #f40;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\203A";
  color: #ccc;
}
.breadcrumb-item.active {
  color: #ccc;
}

.widget {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}
.title14,
.title12,
.title18,
.title24,
.title30,
.title60,
.item-banner4 .banner-info h2,
.item-banner4 .banner-info h3,
.tab-pro-ajax-header h2 {
  font-weight: 700;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.widget-title,
.toggle-tab-title {
  background: #fafafa none repeat scroll 0 0;
  cursor: pointer;
  padding: 17px 20px;
  position: relative;
}
.widget-title::after {
  content: "";
  display: block;
  font-family: fontawesome;
  height: 24px;
  line-height: 22px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 13px;
  width: 24px;
  background: none 0px 0px repeat scroll rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 229, 229);
  border-image: initial;
  border-radius: 4px;
  transition: all 0.5s ease-out 0s;
}
.widget-content {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}
.widget-content ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget-product-cat ul li {
  margin-bottom: 10px;
}
.widget-product-cat ul li.has-sub-cat > a {
  position: relative;
  padding-right: 20px;
}
.widget-product-cat ul a {
  color: #555;
  display: block;
}
.widget-product-cat ul a:hover {
  color: #f40;
}

.widget-product-cat ul li.has-sub-cat > a::after {
  position: absolute;
  font-size: 10px;
  font-family: fontawesome;
  content: "\f067";
  right: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 4px;
}
.widget-product-cat ul li.has-sub-cat.active > a::after {
  content: "\f068";
}
.widget-product-cat ul li.has-sub-cat > a::after {
  background-color: #f40;
}
.widget-product-cat ul ul {
  margin: 10px 0 0 10px;
}
.widget-product-cat ul ul li a {
  color: #999;
  line-height: 19px;
}
.widget-product-cat ul ul li a:hover {
  color: #f40;
}

.products {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  &-bar {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px 4px;
    margin-bottom: 20px;
  }
}

.select-box {
  position: relative;
  color: #666;
  display: inline-block;
  &.sort-bar {
    padding-right: 31px;
    margin-right: 25px;
    &::after {
      color: rgb(102, 102, 102);
      content: "";
      font-family: fontawesome;
      height: 30px;
      line-height: 30px;
      position: absolute;
      right: 0px;
      top: 0px;
      text-align: center;
      width: 30px;
      background: none 0px 0px repeat scroll rgb(250, 250, 250);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(229, 229, 229);
      border-image: initial;
      border-radius: 4px;
    }
  }
  & label {
    font-weight: 400;
    margin: 0 10px 0 0;
  }
  & select {
    color: #666;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 30px;
    padding: 0 35px 0 10px;
    position: relative;
    text-align: left;
    text-transform: capitalize;
    background-image: url(/assets/dummy/theme/icon-select.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
  }
}
.pagi-bar {
  margin-left: 28px;
  display: inline-block;
  vertical-align: top;
  & a {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #666;
    display: inline-block;
    height: 30px;
    line-height: 29px;
    margin: 0 1px;
    text-align: center;
    vertical-align: top;
    width: 30px;
    background: #fff;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    &:hover {
      color: #fff;
      background-color: #f40;
      border-color: #f40;
    }
  }
  & a.current-page,
  .pagi-bar a:hover {
    color: #fff;
    background-color: #f40;
    border-color: #f40;
  }
}

.pagi-bar.bottom {
  display: block;
  text-align: center;
}
