<div class="imart-navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-auto col-auto px-0 px-md-2 pt-md-0">
                <img class="logo" src="assets/images/logo.png" alt="">
            </div>
            <div class="col-md col ">
                <div class="search">
                    <form>
                        <div class="nav-form form-row">
                            <div class="form-group col-auto border-right pr-2 d-none d-sm-block">
                                <select id="inputState" class="form-control">
                                    <option selected="">All Categories</option>
                                    <option>Computer &amp; Office</option>
                                    <option>Elextronics</option>
                                    <option>Jewelry &amp; Watches</option>
                                    <option>Home &amp; Garden</option>
                                    <option>Bags &amp; Shoes</option>
                                    <option>Kids &amp; Baby</option>
                                </select>
                            </div>
                            <div class="col p-0">
                                <input type="text" class="form-control" placeholder="Search ...">
                            </div>
                            <div class="col-auto p-0">
                                <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light px-0 pb-0 nav-icons">
                    <a class="navbar-brand d-block d-sm-none" href="#">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                        <span class="float-right cart-sm-value pr-2">21</span>
                    </a>
                    <a class="navbar-brand d-block d-sm-none" href="#">
                        <i class="fa fa-heart-o fa-2x"></i>
                    </a>
                    <div class="navbar-brand dropdown d-block d-sm-none">
                        <button class="dropbtn"><span><i class="fa fa-user fa-2x"></i></span></button>
                        <div class="dropdown-content right-s " style="width: 190px;">
                            <a href="#"> Account Info</a>
                            <a href="/login"> Sign in</a>
                            <a href="#"> Checkout</a>
                            <a href="#"> Change Password</a>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" (click)="toggleCollapse()" data-toggle="collapse"
                        data-target="#imartnavbar" aria-controls="imartnavbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="imartnavbar" [class.show]="show">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" (click)="toggleCollapse()" >Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" (click)="toggleCollapse()" >Link</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="dropbtn" style="color: rgba(0, 0, 0, 0.5);"> Dropdown</button>
                                    <div class="dropdown-content" style="width: 140px;">
                                        <a href="#" (click)="toggleCollapse()" >Action</a>
                                        <a href="#" (click)="toggleCollapse()" >Another action</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-auto col-auto px-0 px-md-2 pt-2 pt-md-0 d-none d-sm-block">
                <div class="row nav-icons py-3">
                    <div class="col-auto pl-0">
                        <a href=""><i class="fa fa-shopping-cart fa-2x"></i>
                            <span class="cart-value">23</span></a>
                    </div>
                    <div class="col-auto pl-0">
                        <a href=""><i class="fa fa-heart-o fa-2x"></i></a>
                    </div>
                    <div class="col-auto pl-0">
                        <div class="dropdown">
                            <button class="dropbtn p-0"><span><i class="fa fa-user fa-2x"></i></span></button>
                            <div class="dropdown-content right-s " style="width: 190px;">
                                <a href="#"> Account Info</a>
                                <a href="/login"> Sign in</a>
                                <a href="#"> Checkout</a>
                                <a href="#"> Change Password</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-auto"></div>
                    <div class="col-auto pr-1">
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </div>
                    <div class="col-auto pr-1">
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>