/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf');
}

.container {
  max-width: 1230px;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  outline: none;
}
.img-div {
  cursor: pointer;
}
/* DROP DOWN button*/
.dropbtn {
  background-color: transparent;
  padding: 8px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img,
.dropdown span {
  margin-right: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 999;
}

.dropdown-content.right-s {
  right: 0;
}

.dropdown-content a {
  color: #666;
  font-size: 14px;
  border-bottom: 1px solid white;
  padding: 4px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f40;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
