<div class="container-fluid component-head">
  <h3>Shops</h3>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div class="container">
  <loading *ngIf="loading"></loading>
  <div class="alert alert-success alert-dismissible show" role="alert" *ngIf="message.length > 0">
    <strong>Success! </strong> {{ message }}
    <button type="button" class="close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible show" role="alert" *ngIf="errorMessage.length > 0">
    <strong>Failed! </strong> {{ errorMessage }}
    <button type="button" class="close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row" *ngIf="!loading">
    <div [ngClass]="showShopForm?'':'col-md-6'" class="col-12">
      <nav class="navbar navbar-light bg-light border">
        <a class="navbar-brand">Shop List</a>
        <button type="button" class="btn btn-success btn-sm" (click)="onShowShopForm()">
          + ADD SHOP
        </button>
      </nav>
      <div class="p-3 border border-top-0">
        <form class="my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Shops" aria-label="Search">
        </form>

        <table class="table table-striped table-bordered table-responsive-sm mt-2">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th class="text-center">Priority</th>
              <th class="text-center">Status</th>
              <th class="text-center">Active</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="shops.length > 0">
            <tr *ngFor="let shop of shops; index as i">
              <td>
                <img class="shop-image" [src]="imageUrl + shop._id" [alt]="shop.name + ' image'" />
              </td>
              <td><a (click)="onDetails(shop._id)" class="text-primary"> {{ shop.name }} </a></td>
              <td class="text-center">{{ shop.priority }}</td>
              <td class="text-center">{{ shop.status }}</td>
              <td class="text-center">{{ shop.approved?'Active':'Inactive' }}</td>
              <td class="text-right">
                <button class="btn btn-sm" [ngClass]="shop.approved?'btn-danger':'btn-primary'"
                  (click)="onToggleActive(shop._id, shop.approved)">
                  <i class="fa" [ngClass]="shop.approved?'fa-ban':'fa-check'"></i></button>

                <button class="btn btn-sm btn-warning mx-1" (click)="onEdit(shop._id)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger mx-1" (click)="onDelete(shop._id)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 col-12" *ngIf="!showShopForm && shop">
      <img class="img-fluid" [src]="imageUrl + shop._id" [alt]="shop.name + ' image'"
        style="max-height: 400px; display: block;" />
      <h3 class="text-center">{{shop.name}}</h3>
      <table class="table table-striped border">
        <tbody>
          <tr>
            <td>Name</td>
            <th>{{shop.slug}}</th>
          </tr>
          <tr>
            <td>Priority</td>
            <th>{{shop.priority}}</th>
          </tr>
          <tr>
            <td>Approved</td>
            <th>{{shop.approved}}</th>
          </tr>
          <tr>
            <td>Owner Name</td>
            <th>{{shop.owner_name}}</th>
          </tr>
          <tr>
            <td>Owner Phone</td>
            <th>{{shop.owner_number}}</th>
          </tr>
          <tr>
            <td>Address</td>
            <th>{{shop.address}}</th>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-danger" (click)="onClose()">Close</button>      
      </div>
    </div>
    <div class="col-md-6 col-12" *ngIf="showShopForm">
      <shop-form [shop]="shop" (create)="onCreate($event)" (update)="onUpdate($event)" (cancel)="onShopFormCancel()">
      </shop-form>
    </div>
  </div>
</div>